
set terminal pdf enhanced font "Times_New_Roman,12"
set output "chr1.He.pdf"

set size ratio 0.3
#set key out horizontal
set key off

set xtics out nomirror 
set ytics 0.002 out nomirror
set format y "%0.3f"

set xrange [0:558.535432]
set yrange [0:0.008]
set xlabel "Position (Mb)"
#set ylabel "{/Symbol p}"


plot "chr1.He" u ($1/1000000):3 smooth bezier linetype 1 lw 3 lc rgb "#00FF00" t "Hsp","chr1.He" u ($1/1000000):4 smooth bezier linetype 1 lw 3 lc rgb "#FFA500" t "eastern","chr1.He" u ($1/1000000):5 smooth bezier linetype 1 lw 3 lc rgb "#EE82EE" t "qingke","chr1.He" u ($1/1000000):6 smooth bezier linetype 1 lw 3 lc rgb "#0000FF" t "western"
